* {
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#dugme,
input[type=submit] {
    background-color: #383F51;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 100%;
}

#dugme:hover,
input[type=submit]:hover {
    background-color: #DDDBF1;
    color: black;
}

input[type=checkbox] {
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 5px;
}

#kontenjer,
#kontenjer1,
#kontenjer2 {
    border-radius: 5px;
    background-color: #3C4F76;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 10px 8px 10px #bbbbbb;
}

.kolona-25 {
    float: left;
    width: 20%;
    margin-top: 6px;
    color: white;
}

.kolona-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

#ajaxstatus {
    color: white;
    margin-top: 6px;
}

.predaj {
    float: left;
    width: 100%;
    margin-top: 6px;
}

.red:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1000px) {
    .kolona-25,
    .kolona-75 {
        width: 100%;
        margin-top: 0;
    }
}