* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #DDDBF1;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#meni {
    align-items: center;
    background-color: #383F51;
    height: 100px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#meni ul {
    width: 100%;
    list-style: none;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#meni li {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#meni li a {
    width: 100%;
    font-size: x-large;
    color: white;
}

#grupelnk {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#vjezbelnk {
    padding: auto;
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 800px) {
    #meni li {
        display: inline;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    #meni li {
        display: inline;
    }
}

@media screen and (max-width: 500px) {
    #meni li {
        display: block;
        justify-content: center;
        text-align: center;
    }
}