#odabirVjezbe {
    box-sizing: border-box;
    width: 33.3%;
    float: left;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.vjezba {
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    color: white;
    width: 100%;
    background-color: #3C4F76;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.vjezba:hover {
    background-color: #DDDBF1;
    color: black;
}

.zadatak {
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    background-color: #3C4F76;
    padding: 10px 10px;
    margin: 1px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
}

.zadatak:hover {
    background-color: #DDDBF1;
    color: black;
}

#odabirVjezbe .vertical {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    border: 5px solid white;
}

#odabirVjezbe .vertical li {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

#odabirVjezbe .show-horizontal {
    box-sizing: border-box;
    width: 100%;
    background-color: #DDDBF1;
}

#odabirVjezbe .show-horizontal li {
    box-sizing: border-box;
    display: inline;
    width: 100%;
}

#odabirVjezbe .hide-horizontal {
    box-sizing: border-box;
    width: 100%;
    background-color: #DDDBF1;
}

#odabirVjezbe .hide-horizontal li {
    box-sizing: border-box;
    display: none;
    width: 100%;
}

.grafovi {
    box-sizing: border-box;
    width: 66.6%;
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.graf {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.graf .lijevo {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.graf .desno {
    box-sizing: border-box;
    width: 50%;
    float: right;
}


@media screen and (max-width: 799px) {
    .grafovi,
    .graf .lijevo,
    .graf .desno,
    #odabirVjezbe {
        width: 100%;
        float: none;
    }
    .graf {
        width: max-content;
    }
}
