#grupe {
    display: flex;
    box-sizing: border-box;
    background-color: #DDDBF1;
}

#grupe,
table {
    border-collapse: collapse;
    flex: 1;
}

#grupe,
th,
td {
    border: 1px solid #3C4F76;
    text-align: center;
    padding: 10px;
}

.prvired {
    font-size: larger;
    background-color: #3C4F76;
    color: white;
}

#studenti {
    box-sizing: border-box;
    background-color: #DDDBF1;
    padding: 20px;
    margin: auto;
}

.cards {
    box-sizing: border-box;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    box-sizing: border-box;
    border: 1px solid #3C4F76;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.ime {
    font-size: larger;
    padding: auto;
    background-color: #3C4F76;
    padding: 10px;
    color: white;
}

@media screen and (min-width: 800px) {
    #grupe {
        width: 40%;
        float: right;
    }
    #studenti {
        width: 60%;
        float: left;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    #grupe,
    #studenti {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 500px) {
    #grupe table th:nth-child(2),
    #grupe table th:nth-child(3) {
        display: none;
    }
}